.navbar{
    /* height: max-content; */
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-color);
    color:black;
    align-items: center;
}
.navbar a{
    padding:1em;
    margin: 1em;
}