.navbar{
    /* height: max-content; */
    display: flex;
    justify-content: space-evenly;
    background-color: var(--accent-color);
    color:black;
    align-items: center;
}
.navbar a{
    padding:.5em;
    margin: 1em;
    color: white;
    text-decoration: none;
}
.navbar img{
    max-height:2em ;
}
#gdsc-logo{
    content: url("../assets/gdsc-black.png");

} 
@media screen and (max-width: 750px) {
    #gdsc-logo{
        content: url("../assets/gdsc symbol.png");
    }
    .navbar img{
        max-height: 1.5em ;
    }
}
    